.dictionary-page-container{
    height: 800px;
}

.dictionary-page-row{
    background-color: #343a40;
    padding-bottom: 20px;
    margin-top: 40px;
}

.dictionary{
    margin-top: 20px;
    margin-bottom: 16px;
}

.dictionary-search-bar{
    max-width: 800px;
}