.main-page-container {
    min-height: 800px;
  }

  .main-page-row{
    height: 100%;
  }
  
  .generate-btn {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
  .sidebar {
    height: 100%;
    padding: 20px;
    background-color: #343a40;
  }
  
  .add-btn {
    margin-top: 20px;
  }
  