.main-page-container {
    min-height: 800px;
  }

  .main-page-row{
    height: 100%;
  }
  
  .word {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .definition {
    font-size: 24px;
  }
  
  .generate-btn {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
  .sidebar {
    height: 100%;
    padding: 20px;
    background-color: #343a40;
  }
  
  .word-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .word-list li {
    margin-bottom: 5px;
  }
  
  .add-btn {
    margin-top: 20px;
  }
  